%reset-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  height: 2.5rem;
}

script{
  display: none !important;
}

button{
  border-radius: 2px;
}

.p-btn{
  padding: .5rem 1rem;
}

.btn-transparent {
  background: transparent;
  color: var(--primary-color-6);
  min-height: 2.5rem;
  border: 2px solid var(--primary-color-6);
  cursor: pointer;
  &:hover {
    color: var(--primary-color-5);
    border-color: var(--primary-color-5);
    background: var(--neutral-color-11);
  }
  &:active {
    color: var(--primary-color-8);
    border-color: var(--primary-color-8);
    background: white;
  }
  &:disabled{
    color: var(--neutral-color-8);
    border-color: var(--neutral-color-8);
    background: var(--neutral-color-11);
  }
}

.btn {
  &-blue {
    @extend %reset-btn;
    background: var(--primary-color-6);
    color: white;
    cursor: pointer;
    &:hover{
      background: var(--primary-color-4)
    }
    &:disabled{
      filter: grayscale(1)
    }
    &-active{
      @extend %reset-btn;
      color: white;
      cursor: pointer;
      background-color: var(--primary-color-11)
    }
  }
  &-dark-blue {
    @extend %reset-btn;
    background: var(--primary-color-4);
    color: white;
    cursor: pointer;
    &:hover{
      background: var(--primary-color-2)
    }
    &:disabled{
      filter: grayscale(1)
    }
  }
  &-grey {
    @extend %reset-btn;
    background: var(--neutral-color-7);
    color: white;
    cursor: pointer;
    &:hover{
      background: var(--neutral-color-5)
    }
  }
  &-orange {
    @extend %reset-btn;
    background: var(--warning-color-2);
    color: white;
    cursor: pointer;
    &:hover{
      background: var(--warning-color-1);
    }
  }
  &-green {
    @extend %reset-btn;
    background: var(--success-color-3);
    color: white;
    cursor: pointer;
    &:hover{
      background: var(--success-color-1);
    }
  }
}

