

.btn-form{
    background: white;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: max-content;
    color: var(--secondary-color);
    padding: .5rem 1rem;
    cursor: pointer;
    & :disabled{
        cursor: default;
        color: var(--color-grey-6);
        border-color: var(--color-grey-6);
    }
}

.btn-dark-red {

  background-color: var(--color-dark-red);

  border: none;

  color: white;

  cursor: pointer;

  transition: filter 1s ease;

}

.btn-dark-red:disabled {

  filter: grayscale(1);

  cursor: unset;

}




.group-button-direction{
    & > div{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      & > .btn-group-direction{
        height: 1.5rem;
        padding: .25rem 1rem;
        border-radius: 4px;
        background: white;
        border: none;
        color: var(--secondary-color);
        cursor: pointer;
        font-size: .75rem;
  
        &[aria-checked="true"]{
          background: var(--secondary-color);
          color: white;
        }
  
        &:disabled{
          filter: grayscale(1);
        }
      }
    }
  }

.group-button-priority{
  & > div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & > .btn-group-priority{
      height: 1.5rem;
      padding: .25rem 1rem;
      border-radius: 4px;
      border: 1px solid var(--secondary-color);
      background: transparent;
      color: var(--secondary-color);
      cursor: pointer;
      font-size: .75rem;

      &[aria-checked="true"]{
        color: white;
        border: none;
        &.low{
          background: var(--success-color-3);
        }
        &.medium{
            background: var(--warning-color-3);
        }
        &.high{
            background: var(--danger-color-3);
        }
      }

      &:disabled{
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }
  }
}

.btn-action-ribbon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: .5rem 1.25rem .5rem .75rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
  &:disabled{
    cursor: not-allowed;
  }
  &-no-border{
    @extend .btn-action-ribbon;
    border: none;
  }
}

.btn-action-general{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: .5rem 1.25rem .5rem .75rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
  }
  &-no-border{
    @extend .btn-action-general;
    border: none;
  }
}

.btn-small{
  &-blue{
    height: 2rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 .5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    font-size: .75rem;
    color: white;
    &:hover{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.1);
    }
    &:active{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.22);
    }
    &:focus{
      box-shadow: 0px 0px 0px 2px #90C2FC;
    }
    &:disabled{
      background: var(--color-grey-2);
      border-color: var(--color-grey-4);
      color: var(--color-grey-6);
    }
  }

  &-white{
    height: 2rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 .5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    font-size: .75rem;
    color: var(--secondary-color);
    &:hover{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.1);
    }
    &:active{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.22);
    }
    &:focus{
      box-shadow: 0px 0px 0px 2px #90C2FC;
    }
    &:disabled{
      background: var(--color-grey-2);
      border-color: var(--color-grey-4);
      color: var(--color-grey-6);
    }
  }

  &-red{
    height: 2rem;
    background-color: var(--color-error-base);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 .5rem;
    border: 1px solid var(--color-error-base);
    border-radius: 2px;
    font-size: .75rem;
    color: white;
    &:hover{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.1);
    }
    &:active{
      box-shadow: inset 0px 250px 0px rgba(16, 18, 19, 0.22);
    }
    &:focus{
      box-shadow: 0px 0px 0px 2px #90C2FC;
    }
    &:disabled{
      background: var(--color-grey-2);
      border-color: var(--color-grey-4);
      color: var(--color-grey-6);
    }
  }

}

.small-tag{
  height: 1.5rem;
  font-size: .75rem;
}