.lh-8{
  line-height: 2rem;
}

.border-change-focus{
  border-radius: 4px;
  &:focus{
    border-color: var(--primary-color-8);
  }
}

.table-nohover{
  &:hover{
    filter: none;
  }
}

.table-sub, .table-sub *{
  background: transparent !important;
  border-top: none !important;
  border-right: none !important;
}
[type=search]
.grid-col{
  display: grid;
}

.ctr-pagination-sub{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0 1rem;
  & .pagination{
    margin-top: 0;
  }
}

.a-sub-pagination{
  display: flex;
  width: 15ch;
  justify-content: space-around;
}

.child-transparent{
  &>div{
    background: transparent;
  }
}

.ctr-subtab{
  & .tabs-content{
    padding-top: 1rem !important;
    border-top : none !important;
  }
}

.border-sub-tab{
  &-active{
    border-bottom: 2px solid var(--secondary-color) !important;
    margin: 0 !important;
    padding: 0rem 2rem !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem !important;
  }
  &-inactive{
    border-bottom: 1px solid var(--color-grey-5) !important;
    margin: 0 !important;
    padding: 0rem 2rem !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem !important;
  }
}

[data-checkbox]:checked:before{
  background: var(--secondary-color) !important;
}

.white-space-nowrap{
  white-space: nowrap;
}

.radio-row-form{
  &>div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.custom-table{
  & tr{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  & td{
    display: grid;
    place-items: center;
  }
}


.ctr-form-address{
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  display: grid;
  grid-template-columns: 1fr;
}



// hide modal grey area

// .sidebar.sidebar-open::before{
//   width: 0 !important;
// }

.account-form-container, .mid-scrollable-container{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 213px);
  border-bottom: 0 solid transparent;
  transition: border-bottom .5s;
  &.with-border{
    border-bottom: 64px solid transparent;
  }
}

.lead-form-container{
  @extend .account-form-container;
  height: calc(100vh - 251px);
}

.listing-scroll-container{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 164px);
  &.with-border{
    border-bottom: 4rem solid transparent;
  }
}

.show-scrollable{
  position: sticky;
  width: 100%;
  height: 0.1px;
  background: grey;
  filter: blur(1px);
}

.pika-table th {
  padding: 0 .3rem;
}

.pika-today-container {
  padding: 0;
  margin: 0;
}

.tabs-header{
  padding-left: 1rem;
}

.table.listing-page{
  border: none;
  position: relative;
  & > thead{
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

[data-input]:empty{
  height: 40px;
  padding: 0.5rem 1rem;
  width: 100%;
}