

.ctr-process-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    &:first-child{
        flex-shrink: 0;
    }

    & > .OSBlockWidget{
        width: calc(100% - 40px);
        flex-shrink: 1;
    }
}

.phase-ctr-dropdown{
    position: relative;

    & > i {
        transition: .5s;
    }

    &.is-active{
        & > i {
            transform: rotate(-180deg);
        }
        & .phase-dropdown-list{
            display: flex;
        }
    }

    & .phase-dropdown-list{
        position: absolute !important;
        display: none;
        top: 110%;
        left: 0;
        flex-direction: column;
        background: white;
        z-index: 10;
        box-shadow: 0px 6px 8px rgb(0 0 0 / 10%);
        width: 350px;
    }

    & .phase-dropdown-item{
        height: 3rem;
        padding: .75rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-grey-4);
    }
}


.phase-item{
    width: 100%;
    min-width: 400px;
    background: var(--neutral-color-13);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1.75rem;
    gap: .75rem;
    height: 2.5rem;
    &:not(:first-of-type)::before{
        content: '';
        position: absolute;
        height: 1rem;
        width: 1rem;
        background: var(--used-bg);
        left: -0.5rem;
        transform: rotateZ(45deg);
        z-index: 1;
    }
    &:not(:last-of-type)::after{
        content: '';
        position: absolute;
        height: 1rem;
        width: 1rem;
        right: -0.5rem;
        background: white;
        transform: rotateZ(45deg);
        z-index: 15;
    }
    &:last-of-type .phase-item-ctr-form{
        right: 0;
    }
}


.phase-item.is-locked:after {
    background: #F3F2F1;
}
.phase-item.is-locked {
    background: #F3F2F1;
}

.active-phase{
    color: var(--secondary-color);
    text-decoration-line: underline;
}

.phase-item-ctr-absolute{
    position: absolute;
    z-index: 40;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-grow: 1;
}

.phase-item-ctr-form{
    margin-top: 2px;
    position: absolute;
    background: white;//var(--bg-content-color);
    padding: 10px;
    border: 1px solid #C8C6C4;
    // width: 100%;
    flex-grow: 1;
    cursor: auto;
    width: 500px;
    & .choices__list--dropdown {
        position: fixed;
        top: unset;
        // width: auto;
        width: 313.33px;
    }
}

.phase-ctr-input{
    color: var(--grey-color-6);
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    & label{
        margin: 0;
        &>span{
            white-space: nowrap;
        }
    }
    & input::placeholder{
        color: var(--grey-color-6);
    }
    & > div{
        padding: .5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #CED4DA;
        & > div{
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            width: 100%;
        }
    }
}

.phase-arrow{
    width: 2.5rem;
    height: 2.5rem;
    background: #D2D0CE;
    box-shadow: 2px 0px 4px rgb(0 0 0 / 15%);
    display: grid;
    place-items: center;
    cursor: pointer;
    flex-shrink: 0;
}