

//["20021", "20027", "20028", "20030", "20022", "20023", "20024", "20025", "20026", "20029", "20031", "20033", "20032"]
// ["Cancelled Trip", "Loading Trip", "New Trip", "Transport on Hold", "Trip Closed", "Trip Completed", "Trip Empty", "Trip on Hold No Client", "Trip on Hold No Supplier", "Trip Planned", "Trip Transport", "Trip Unplanned", "Unloading Trip"]
.choices__list[dir="ltr"]{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  color: white;
}

.choices__list *,.choices__inner *{
  text-transform: capitalize;
}

[data-value="CANTR"]{ //Cancelled Trip *
  // background: var(--danger-color-8) !important;
  background: var(--cancelled-color) !important;
  border: 2px solid var(--cancelled-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="LODTR"]{ //Loading Trip *
  // background: var(--teal-lighter) !important;
  background: var(--loading-color) !important;
  border: 2px solid var(--loading-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="NEWTR"]{ //new trip *
  // background: var(--cyan-lighter) !important;
  background: var(--new-color) !important;
  border: 2px solid var(--new-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="TRHLD"]{ //Transport on Hold *
  // background: var(--neutral-color-12) !important;
  background: var(--on-hold-color) !important;
  border: 2px solid var(--on-hold-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="CLSTR"]{ //Trip Closed *
  // background: var(--primary-color-13) !important;
  background: var(--closed-color) !important;
  border: 2px solid var(--closed-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="COMTR"]{ // Trip Completed *
  // background: var(--success-color-8) !important;
  background: var(--completed-color) !important;
  border: 2px solid var(--completed-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="EMPTR"]{ //Trip Empty *
  // background: var(--neutral-color-12) !important;
  background: var(--empty-color) !important;
  border: 2px solid var(--empty-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="HLD-C"]{ //Trip on Hold No Client *
  // background: var(--yellow-lighter) !important;
  background: var(--no-client-color)  !important;
  border: 2px solid var(--no-client-color)  !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="HLD-S"]{ //Trip on Hold No Supplier *
  // background: var(--indigo-lighter) !important;
  background: var(--no-supplier-color) !important;
  border: 2px solid var(--no-supplier-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="PLDTR"]{ //Trip Planned *
  // background: var(--lime-lighter) !important;
  background: var(--planned-color)  !important;
  border: 2px solid var(--planned-color)  !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="TRPTR"]{ //Trip Transport *
  // background: var(--grape-lighter) !important;
  background: var(--transport-color) !important;
  border: 2px solid var(--transport-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="UNPTR"]{ //Trip Unplanned *
  // background: var(--primary-color-12) !important;
  background: var(--unplanned-color)  !important;
  border: 2px solid var(--unplanned-color)  !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}
[data-value="UNLTR"]{ //Unloading Trip
  // background: var(--neutral-color-12) !important;
  background: var(--unloading-color) !important;
  border: 2px solid var(--unloading-color) !important;
  border-radius: 2rem !important;
  width: max-content;
  color: white !important;
}


// reset tag when clicked

.choices{
  margin-left: 2vw;
  width: 25vw;
}

.choices__inner{
  position: relative;
  display: flex;
  align-items: center;
  select{
    height: 100%;
  }
  .search--wrapper{
    height: 100%;
    >input{
      height: 2.5rem;
    }
    &::before{
      display: none;
    }
  }
  &::before{
    content: url(/VNG_Director/img/VNG_Director.filter_blue.svg);
    right: 0.8rem;
    position: absolute;
  }
}

.choices__list--multiple .choices__item{
  margin-bottom: var(--space-xs);
}

.choices__list--multiple .choices__item.is-highlighted{
  color: black !important;
}

.choices[data-type*="select-multiple"] .choices__item.is-highlighted .choices__button::after{
  color: unset !important;
}

.choices__list--dropdown{
  filter: drop-shadow(0px 4px 6px black);
}

.choices__list--multiple{
  max-height: 4.7rem;
  overflow: auto;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px !important;
  & > div{
    font-size: .75rem !important;
    font-weight: 400 !important;
    height: 1.75rem !important;
    padding: .5rem !important;
    > button::after{
      color: white !important;
    }
  }
}

