


.table-header{
  padding-left: 1rem;
  &-trip{
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
  }
}

.noshrink > div{
  flex-shrink: 0;
}

.noshrink.div-row > div{
  background: white;
}

.span-col{
  display: flex;
  align-items: center;
  padding-left: .5rem;
}

.ctr-table-header{
  & > div{
    color: var(--neutral-color-6);
  }
}

.text-left{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.order--1{
  display: none;
}

@for $var from 0 to 25 {
  .order-#{$var}  {
    order: $var;
  }
}

.col-{
  &radio{
    min-width: 4rem;
    width: 4rem;
    & > span{
      display: grid;
      place-items: center;
    }
  }
  
  &trip-id{
    width: 6.5rem;
    & > div{
      height: 100%;
    }
  }

  &trip-picture{
    width: 4rem;
  }

  &trip-client{
    width: 20rem;
    flex-grow: 1;
  }

  &trip-date{
    width: 7.75rem;
  }

  &trip-time{
    width: 6.875rem;
  }

  &trip-supplier{
    width: 20rem;
    flex-grow: 1;
  }

  &trip-product{
    width: 20rem;
    flex-grow: 1;
  }

  &trip-delivery-date{
    width: 7.75rem;
  }

  &trip-delivery-time{
    width: 7rem;
  }

  &trip-load{
    flex-grow: 1;
    width: 12rem;
  }

  &trip-branch{
    width: 8rem;
  }

  &trip-created{
    width: 8rem;
  }

  &trip-delete{
    width: 2rem;
  }


  // SALE

  &sale-order{
    width: 5.5rem;
  }


  &sale-line{
    width: 2rem;
  }

}

