
.w-full{
  width: 100%;
}
.min-w-full{
  min-width: 100%;
}
.max-w-full{
  max-width: 100%;
}
.h-full{
  height: 100%;
}
.min-h-full{
  min-height: 100%;
}
.max-h-full{
  max-height: 100%;
}
.h-half{
  height: 50%;
}

.w-half{
  width: 50%;
}
.max-h-half{
  max-height: 50%;
}
.max-w-half{
  max-width: 50%;
}

@for $var from 1 to 56 {
  .h-#{$var}  {
    height: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 56 {
  .w-#{$var}  {
    width: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 56 {
  .min-h-#{$var}  {
    min-height: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 56 {
  .min-w-#{$var}  {
    min-width: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 56 {
  .max-h-#{$var}  {
    max-height: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 56 {
  .max-w-#{$var}  {
    max-width: #{$var * 0.25}rem;
  }
}

@for $var from 1 to 101 {
  .w-#{$var}-vw  {
    width: #{$var}vw;
  }
}

@for $var from 1 to 101 {
  .h-#{$var}-vh  {
    height: #{$var}vh;
  }
}