

.required:after {
  content:" *";
  color: red;
}

.form-label{
  font-size: .875rem;
  color: var(--neutral-color-6);
}

span.input-{
  &search{
    width: 100%;
  }
  &text{
    width: 100%;
  }

}
///VNG_Director/img/VNG_Director.radio_off.svg
///VNG_Director_NEW/img/VNG_Director_NEW.radio_on.svg
.radio-active{
  &>input:before{
    content: url('/VNG_Director/img/VNG_Director.radio_on.svg');
    margin-right: 0.5rem;
  }
}

.radio-inactive{
  &>input::before{
    content: url('/VNG_Director/img/VNG_Director.radio_off.svg');
    margin-right: 0.5rem;
  }
}

.radio-group-date{
  &>div{
    all: inherit;
  }
}

.ctr-input-load > span:first-child {
  display: contents;
  align-items: center;
}

// /VNG_Director_NEW/img/VNG_Director_NEW.radio_off.svg
// /VNG_Director_NEW/img/VNG_Director_NEW.radio_on.svg
// .table [data-checkbox]:before {
//   opacity: 0;
// }

//    -webkit-transition: all 180ms linear;
// transition: all 180ms linear;

// .table [data-checkbox]:checked:after{
//   opacity: 0;
// }

// [data-checkbox]{
//   &:after,&:before{
//     all: unset !important;
//   }
// }

.radio-unchecked{
  height: max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: all 180ms linear;
  transition: all 180ms linear;
  &::before{
    content: url(/VNG_Director/img/VNG_Director.radio_off.svg);
    z-index: 0;
    background: var(--neutral-color-11) !important;
  }
}

.radio-checked{
  height: max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: all 180ms linear;
  transition: all 180ms linear;
  &::before{
    content: url(/VNG_Director/img/VNG_Director.radio_on.svg);
    z-index: 0;
    background: var(--neutral-color-11) !important;
    border: none !important;
  }
}

.option-checkbox{
  display: none;
}

.select-checkbox > .option-checkbox{
  display: block;
}

.radio-form > div > input[type="radio"]{
  appearance: auto;
  color: black;
  border: 0;
  height: 20px;
  width: 20px;
}