$sides: (
  t,
  r,
  b,
  l
);

@for $var from 1 to 40 {
  .mt-#{$var}  {
    margin-top: #{$var / 4}rem;
  }
}

@for $var from 1 to 40 {
  .mr-#{$var}  {
    margin-right: #{$var / 4}rem;
  }
}

@for $var from 1 to 40 {
  .mb-#{$var}  {
    margin-bottom: #{$var / 4}rem;
  }
}

@for $var from 1 to 40 {
  .ml-#{$var}  {
    margin-left: #{$var / 4}rem;
  }
}

.mt-auto{
  margin-top: auto;
}

.mr-auto{
  margin-right: auto;
}

.mb-auto{
  margin-bottom: auto;
}

.ml-auto{
  margin-left: auto;
}
