



::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

p{
  padding: 0;
  margin: 0;
  border: none;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.position-relative{
  position: relative;
}

.cursor-pointer{
  cursor: pointer;
}

.active-screen{
  background: var(--neutral-color-11);
}

.hover-grey:hover{
  background-color: var(--neutral-color-12);
}

.fullwidthcenter{
  > div:first-child {
    margin: 1.8rem 0.7rem 0 0.7rem;
  }
}

[data-advancedhtml]{
  &>span{
    height: 100%;
    width: 100%;
    font-weight: 400;
    &>input{
      min-height: 2.5rem !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}

span.input-text{
  width: 100%;
  display: flex;
  align-items: center;
}

button{
  border-radius: 2px;
}


.img-1\.5{
  height: 1.5rem;
  width: 1.5rem;
}



.ctr-draggable{
  & .icon-draggable{
    display: none;
  }
  &:hover .icon-draggable{
    display: block;
  }
}

.dropdown-column-setting{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  &::after{
    content: ' ';
    height: 0.7em;
    width: 0.7em;
    position: absolute;
    right: 1rem;
    border-right: 2px solid var(--primary-color-6);
    border-bottom: 2px solid var(--primary-color-6);
    transform: rotate(45deg) translate(-1px, 0px);
    pointer-events: none;
  }
}
.dropdown-column-setting-disabled{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  &::after{
    content: ' ';
    height: 0.7em;
    width: 0.7em;
    position: absolute;
    right: 1rem;
    border-right: 2px solid var(--neutral-color-9);
    border-bottom: 2px solid var(--neutral-color-9);
    transform: rotate(45deg) translate(-1px, 0px);
  }
  & > select{
    background: var(--neutral-color-12);
  }
}

.OSBlockWidget{
  display: contents;
}
