



::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

p{
  padding: 0;
  margin: 0;
  border: none;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.active-screen{
  background: var(--neutral-color-11);
}

.fullwidthcenter{
  > div:first-child {
    margin: 1.8rem 0.7rem 0 0.7rem;
  }
}

[data-advancedhtml]{
  &>span{
    height: 100%;
    width: 100%;
    font-weight: 400;
    &>input{
      min-height: 2.5rem !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}

button{
  border-radius: 2px;
}

