

@for $var from 1 to 26 {
  .p-#{$var}  {
    padding: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .pt-#{$var}  {
    padding-top: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .pr-#{$var}  {
    padding-right: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .pb-#{$var}  {
    padding-bottom: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .pl-#{$var}  {
    padding-left: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .px-#{$var}  {
    padding-left: #{$var / 4}rem;
    padding-right: #{$var / 4}rem;
  }
}

@for $var from 1 to 26 {
  .py-#{$var}  {
    padding-top: #{$var / 4}rem;
    padding-bottom: #{$var / 4}rem;
  }
}