



// .sidebar-content{
//     padding-bottom: 4.5rem;
// }

.form-quick-create .action-icon {
    font-size: .75rem;
}

.text-selection-list{
    display: block;
    max-width: 35ch;
    overflow: hidden;
    text-overflow: ellipsis;
}