
.scrollable{

    scrollbar-width: thin;
    scrollbar-color: grey transparent;
    &::-webkit-scrollbar{
      width: 8px;
    }
    &::-webkit-scrollbar-track{
      box-shadow: inset 0 0 6px transparent;
      -webkit-box-shadow: inset 0 0 6px transparent; 
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: grey;
    }
}


.ctr-form-scrollable{
  @media screen and (max-height: 750px) {
    max-height: 50vh;
    overflow-y: auto;
  }
  @media screen and (max-height: 942px) {
    max-height: 62vh;
    overflow-y: auto;
  }
}