
.table-header{
  & th:first-child{
    border: none;
    background: var(--neutral-color-11);
    &:hover{
      background: var(--neutral-color-11);
    }
  }
}
 
.table-row td:first-child {
  background: var(--neutral-color-11);
}
 
table.table tbody tr:first-child td:not(:first-child),tbody tr:first-child td:nth-child(2) .shadowing{
  box-shadow: inset 0px 5px 3px -3px #333;
}
 
.sortable-icon{
  display: none;
}
 
.table-header th {
  border: none !important;
  background: var(--neutral-color-11) !important;
  color: var(--neutral-color-6) !important;
  filter: drop-shadow(0px 2.5px 0px grey);
}
 
table.table tbody td {
  border: 2px solid var(--neutral-color-11);
}
 
table.table tbody > tr:first-child  td {
  border-top: 0;
}
 
.a-table{
  font-weight: 400;
  color: var(--primary-color-7);
  text-decoration: underline;
  &:hover{
    color: var(--primary-color-4);
  }
}
 
.table-row{
  &:hover a{
    background: var(--color-neutral-2);
    -webkit-transition: all 180ms linear;
    transition: all 180ms linear;
  }
}
 
.col-status{
  text-align: left;
  padding-left: 5px;
  width: 87px;
}
 
.col-modality{
  width: 64px;
}
 
.col-branch{
  display: grid;
  place-items: center;
  width: 150px;
}
 
.col-unload{
  display: grid;
  place-items: center;
  width: clamp(200px, 100%, 100%);
}
 
.col-product{
  display: grid;
  place-items: center;
  width: 200px;
}
 
.col-load-date{
  display: grid;
  place-items: center;
  width: 124px;
}
 
.col-load-time{
  width: 110px;
  display: grid;
  place-items: center;
}
 
/*
PLDTR
 
*/