

.border-collapse{
  border-collapse: collapse;
}


.quick-fix-table{
  & *{
    font-size: 1rem !important;
  }
  & th{
    background: transparent !important;
    border: none !important;
    color: var(--neutral-color-6) !important;
    font-weight: 400 !important;
  }
  & .sortable-icon{
    display: none;
  }
}

.table-header{
  & th:first-child{
    border: none;
    background: var(--neutral-color-11);
    &:hover{
      background: var(--neutral-color-11);
    }
  }
}
 
.table-row td:first-child {
  background: var(--neutral-color-11);
}
 
table.table tbody tr:first-child td:not(:first-child),tbody tr:first-child td:nth-child(2) .shadowing{
  box-shadow: inset 0px 5px 3px -3px #333;
}
 
.sortable-icon{
  display: none;
}

 
.table-header {

  & th{
    border: none !important;
    background: var(--neutral-color-11) !important;
    color: var(--neutral-color-6) !important;
    filter: drop-shadow(0px 2.5px 0px grey);
  }

  &.no-shadow th{
    filter: none;
  }
  
}
 
table.table tbody td {
  border: 2px solid var(--neutral-color-11);
}
 
table.table tbody > tr:first-child  td {
  border-top: 0;
}
 
.a-table{
  font-weight: 400;
  color: var(--primary-color-7);
  text-decoration: underline;
  font-size: 1rem;
  &:hover{
    color: var(--primary-color-4);
  }
}
 
.table-row{
  &:hover a{
    background: var(--color-neutral-2);
    -webkit-transition: all 180ms linear;
    transition: all 180ms linear;
  }
}
 
.col-status{
  text-align: left;
  padding-left: 5px;
  width: 87px;
}
 
.col-modality{
  width: 64px;
}
 
.col-branch{
  display: grid;
  place-items: center;
  width: 150px;
}
 
.col-unload{
  display: grid;
  place-items: center;
  width: clamp(200px, 100%, 100%);
}
 
.col-product{
  display: grid;
  place-items: center;
  width: 200px;
}
 
.col-load-date{
  display: grid;
  place-items: center;
  width: 124px;
}
 
.col-load-time{
  width: 110px;
  display: grid;
  place-items: center;
}
 
.modal-multiTrip-table-date > div:first-of-type{
  margin-left: 4rem;
}

.modal-multiTrip-table-time {

  & > div:first-child{
    width: 208px;
  }

  & > div:not(:first-child) .vehicle-title{
    display: none;
  }
}

.modal-multipleTrip-col-time > div:not(:first-of-type){
  border-top: 1px solid var(--neutral-color-11);
}

.table-form-multi-shipment{
  // border-right: 1px solid var(--neutral-color-10);
  border-bottom: 1px solid var(--neutral-color-10);
  max-height: 500px;
  overflow-y: auto;
  flex-shrink: 0;
  &:last-child{
    border-right: none;
  }
}

.table-header-pricing{
  background-color: var(--neutral-color-11);
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  width: 100%;
  & td{
    padding: .5rem 1rem;
  }
}

.table-middle-pricing{
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  color: black;
  & tr{
    border-bottom: 1px solid var(--neutral-color-10);
  }
  & td{
    padding: .5rem 1rem;
  }
}

.table-notes{
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  & th{
    color: var(--neutral-color-6);
    text-align: left;
    padding: .5rem;
    font-weight: 400;
    & > .sortable-icon{
      visibility: hidden;
    }
  }
  & td{
    padding: 1rem;
    text-align: left;
    background: white;
    border: 1px solid var(--neutral-color-11);
    border-top: 0;
    border-left: 0;
    &:last-child{
      display: grid;
      place-items: center;
      border-right: 0;
    }
    & > a {
      & > span{
        font-size: 1rem;
        color: var(--primary-color-6);
      }
      & > i{
        color: var(--primary-color-6);
      }
    } 
  }
}
//1888
.grid-row-table-leg-sales {
  display: grid;
  // grid-template-columns: 137px 247px 110px 465px 179px 120px 518px 56px 56px;
  grid-template-columns: 7fr 7fr 13fr 6fr 25fr 10fr 7fr 6fr 27fr 7fr 3fr 3fr;
  grid-gap: 2px;
}

.grid-table-tr > div{
  height: 3.5rem;
  min-height: 0;
  min-width: 0;
  padding-left: .5rem;
}

.grid-table-header > div {
  height: 2.25rem;
  line-height: 2.25rem;
  padding-left: .5rem;
}

.our-table{
  width: 100%;
  
  & td:not(.color-bar) {
    background: white;
    padding: 0 .5rem;
    text-align: left;
    height: 3.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & th {
    color: var(--neutral-color-6);
    padding: .5rem;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & td.color-bar {
    width: 1rem;
    padding: 0;
  }
}



